@model CsvDataApp.Models.Person

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Identity" class="control-label"></label>
        <input asp-for="Identity" class="form-control" />
        <span asp-validation-for="Identity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sirname" class="control-label"></label>
        <input asp-for="Sirname" class="form-control" />
        <span asp-validation-for="Sirname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age" class="control-label"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sex" class="control-label"></label>
        <input asp-for="Sex" class="form-control" />
        <span asp-validation-for="Sex" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Mobile" class="control-label"></label>
        <input asp-for="Mobile" class="form-control" />
        <span asp-validation-for="Mobile" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Active" class="control-label"></label>
        <input asp-for="Active" class="form-control" />
        <span asp-validation-for="Active" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
